<% if current_user %>

<% else %>
  <h3><%= link_to 'Signup', new_user_registration_path %></h3>
  <h3><%= link_to 'Login', new_user_session_path %></h3>
<% end %>


<h1>What color is...</h1>

<div class="newQ">
  <%= link_to 'New question', new_question_path %>
</div>

<table>
  <tr>
    <th>Question</th>
    <th>Color</th>
    <th colspan="2"></th>
  </tr>
</table>
  <% @questions.each do |question| %>
    <!-- <div class="QandA"> -->
<table>
    <tr>
      <td><%= question.body %></td>
      <td class="color-field" style="background-color: <%= question.color %>"></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'BALEETED', question_path(question),
              method: :delete,
              data: { confirm: 'Feeling anti-chromatic?' } %></td>
    </tr>
  <!-- </div> -->
  <% end %>
</table>
